In [0]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [0]:
website_url = requests.get('https://www.illinoistollway.com/tolling-information#2019Rates').text

In [0]:
soup = BeautifulSoup(website_url, 'html.parser')

In [0]:
my_table = soup.find('div', {'class':'page-content'})

In [0]:
smaller_table = my_table.find('div', {'class':'columns-1'})

In [0]:
table_table = smaller_table.find('div', {'class':'portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-borderless portlet-journal-content ', 'id': 'p_p_id_56_INSTANCE_bltNHBO1zL1X_'})

In [0]:
highway_lst = []
highway_lst.append(table_table.h3.text)

In [0]:
table_body = table_table.tbody

In [0]:
tolling_location = table_body.find_all('td', {'align':'left'})

In [0]:
tolling_location_list = []
for i in tolling_location:
    tolling_location_list.append(i.text)

### Jane Addams Toll Locations

In [11]:
tolling_location_list

['South Beloit',
 'East Riverside Boulevard*',
 'Genoa Road (EB Exit)',
 'Genoa Road (WB Exit)',
 'Illinois 173*',
 'Irene Road^',
 'Belvidere',
 'Illinois 47\n\t\t\t(EB Exit/WB Entrance) ^',
 'Illinois 47\n\t\t\t(EB Entrance/WB Exit) ^',
 'Marengo-Hampshire',
 'Randall Road*',
 'Elgin',
 'Barrington Rd (EB Ent/WB Exit)',
 'Barrington Rd (EB Exit/WB Ent)\xa0^',
 'Illinois Route 31*',
 'Roselle Road (EB Entrance/WB Exit)',
 'Roselle Road (EB Exit/WB Entrance)^',
 'Meacham Road^',
 'Illinois Route 25*',
 'Illinois Route 59 Westbound Exit*',
 'Illinois Route 59 Eastbound Exit*',
 'I-290, Illinois Route 53*',
 'Beverly Road*',
 'Devon Avenue',
 'Arlington Heights Road*',
 'Elmhurst Road (EB Exit/WB Ent)',
 'River Road']

In [0]:
all_times = table_body.find_all('td', {'align':'center'})

In [0]:
# HTML tags containing Jane Addams table
all_times

In [0]:
catch_all = []
for i in all_times:
    catch_all.append(i.text)

In [0]:
catch_all

### Create DataFrame (Jane Addams)

In [0]:
df_jane = pd.DataFrame(columns=['id', 'Autos: I-Pass All Times', 'Autos: I-Pass Cash', 'Small Trucks Daytime',
                                'Medium Trucks Daytime', 'Large Trucks Daytime', 'Small Trucks Overnight', 
                                'Medium Trucks Overnight', 'Large Trucks Overnight'])

In [0]:
def divide_chunks(l, n): 
      
    # looping till length l 
    for i in range(0, len(l), n):  
        yield l[i:i + n]

In [0]:
n = 9

x = list(divide_chunks(catch_all, n))

In [0]:
df_jane = pd.DataFrame(x, columns=['id', 'Autos: I-Pass All Times', 'Autos: I-Pass Cash', 'Small Trucks Daytime',
                                'Medium Trucks Daytime', 'Large Trucks Daytime', 'Small Trucks Overnight', 
                                'Medium Trucks Overnight', 'Large Trucks Overnight'])

In [24]:
df_jane.head()

  id Autos: I-Pass All Times  ... Large Trucks Overnight                   Location
0  1                   $0.95  ...                  $6.25               South Beloit
1  2                   $0.55  ...                  $3.75  East Riverside Boulevard*
2  3                   $0.55  ...                  $3.75       Genoa Road (EB Exit)
3  3                   $0.75  ...                  $5.00       Genoa Road (WB Exit)
4  4                   $0.55  ...                  $3.75              Illinois 173*

[5 rows x 10 columns]

In [0]:
df_jane['Location'] = tolling_location_list

In [23]:
df_jane.head()

  id Autos: I-Pass All Times  ... Large Trucks Overnight                   Location
0  1                   $0.95  ...                  $6.25               South Beloit
1  2                   $0.55  ...                  $3.75  East Riverside Boulevard*
2  3                   $0.55  ...                  $3.75       Genoa Road (EB Exit)
3  3                   $0.75  ...                  $5.00       Genoa Road (WB Exit)
4  4                   $0.55  ...                  $3.75              Illinois 173*

[5 rows x 10 columns]