In [5]:
import camelot
import pandas as pd

In [25]:
tables = camelot.read_pdf('https://www.illinoistollway.com/documents/20184/86147/2019+TollRateIncrease-tablesonly_1118.pdf/052f2c4a-362e-49b7-a111-acd8bb1d147c', pages='all')

In [26]:
tables

In [31]:
tables[12].df

                                      0    1           2
0             Lively Boulevard Mainline  320      I-PASS
1                                             Pay Online
2                 Mittel Drive Mainline  322      I-PASS
3                                             Pay Online
4   Hamilton Lakes Boulevard \nMainline  324      I-PASS
5                                             Pay Online
6                           Ketter Ramp  325      I-PASS
7                                             Pay Online
8              Plum Grove Road Mainline  326      I-PASS
9                                             Pay Online
10          Mitchell Boulevard Mainline  328      I-PASS
11                                            Pay Online
12                 Lake Street Mainline  330      I-PASS
13                                            Pay Online