# Loading Datasets From POI Factory

http://www.poi-factory.com/poifiles/popular

In [1]:
# Pandas importing for EDA
import pandas as pd
# import os for csv file writing to file path
import os

import re

import numpy as np

import csv

In [2]:
# Truck Stops Dataset

truck_stops = pd.read_csv('Raw POI Factory Datasets/Truck_Stops.csv', header=None)

print(truck_stops.shape)
truck_stops.head()

(1863, 9)

,0,1,2,3,4,5,6,7,8
0,-113.998390,51.292840,Flying J - Cardlock 10 Truck Parking Spots; #0813,403-948-4193,85 East Lake Cresent,Airdrie,AB,T4B 2B5,CAN
1,-111.867535,50.572799,Flying J 20 Truck Parking Spots; #0792,403-362-5594,Hwy 1 & CR542; 1260 Cassils Road East,Brooks,AB,T1R 1B7,CAN
2,-114.004910,51.075000,Flying J - Cardlock 130 Truck Parking Spots; #...,403-250-3835,Hwy 1 Barlow Trl Exit; 2525 23rd St NE,Calgary,AB,T2E 7M1,CAN
3,-113.974949,50.990041,Flying J 15 Truck Parking Spots; #0793,403-236-2404,Hwy 2; 4216 72 Ave SE,Calgary,AB,T2C 2C1,CAN
4,-114.004072,51.009581,Flying J 80 Truck Parking Spots; #0848,403-569-6250,Hwy 2; 4949 Barlow Trail SE,Calgary,AB,T2B 3B5,CAN

In [3]:
truck_stops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1863 entries, 0 to 1862
Data columns (total 9 columns):
0    1863 non-null float64
1    1863 non-null float64
2    1863 non-null object
3    1863 non-null object
4    1863 non-null object
5    1863 non-null object
6    1863 non-null object
7    1863 non-null object
8    1863 non-null object
dtypes: float64(2), object(7)
memory usage: 131.1+ KB

In [4]:
# truck_stops['Truck Stop Name'] = truck_stops['Truck Stop Name'].replace({'Flying J -': 'Flying J,'}, regex=True)
# truck_stops['Truck Stop Name'] = truck_stops['Truck Stop Name'].replace({'Flying J, - Cardlock': 'Flying J, Cardlock,'}, regex=True)
# truck_stops['Truck Stop Name'] = truck_stops['Truck Stop Name'].replace({',,': ','}, regex=True)
truck_stops[2] = truck_stops[2].replace({'AMBEST -': 'AMBEST, ', 'TA -': 'TA, ',
                                                                         'Petro -': 'Petro, ', 'Flying J -': 'Flying J, ',
                                                                         'Flying J ': 'Flying J, ', 'Pilot -': 'Pilot, ',
                                                                         'Pilot ': 'Pilot, ', "Love's": "Love's, ", 
                                                                         'Sapp TC': 'Sapp TC, '}, regex=True)

In [5]:
truck_stops[2].head(100)

0     Flying J,  Cardlock 10 Truck Parking Spots; #0813
1               Flying J, 20 Truck Parking Spots; #0792
2     Flying J,  Cardlock 130 Truck Parking Spots; #...
3               Flying J, 15 Truck Parking Spots; #0793
4               Flying J, 80 Truck Parking Spots; #0848
                            ...
95       Pilot, RV Dump; 145 Truck Parking Spots; #0459
96    Pilot, RV Lanes; 90 Truck Parking Spots/RV Par...
97    Love's,  RV Dump/Propane; 85 Truck Parking Spo...
98      Love's,  RV Dump; 40 Truck Parking Spots; #0280
99               Love's,  27 Truck Parking Spots; #0265
Name: 2, Length: 100, dtype: object

In [6]:
truck_stops.head(20)

,0,1,2,3,4,5,6,7,8
0,-113.998390,51.292840,"Flying J, Cardlock 10 Truck Parking Spots; #0813",403-948-4193,85 East Lake Cresent,Airdrie,AB,T4B 2B5,CAN
1,-111.867535,50.572799,"Flying J, 20 Truck Parking Spots; #0792",403-362-5594,Hwy 1 & CR542; 1260 Cassils Road East,Brooks,AB,T1R 1B7,CAN
2,-114.004910,51.075000,"Flying J, Cardlock 130 Truck Parking Spots; #...",403-250-3835,Hwy 1 Barlow Trl Exit; 2525 23rd St NE,Calgary,AB,T2E 7M1,CAN
3,-113.974949,50.990041,"Flying J, 15 Truck Parking Spots; #0793",403-236-2404,Hwy 2; 4216 72 Ave SE,Calgary,AB,T2C 2C1,CAN
4,-114.004072,51.009581,"Flying J, 80 Truck Parking Spots; #0848",403-569-6250,Hwy 2; 4949 Barlow Trail SE,Calgary,AB,T2B 3B5,CAN
5,-113.979407,50.948795,"Flying J, RV Lanes/RV Dump/Propane; 128 Truck ...",403-720-0904,Hwy 35 Exit 240; 11511 40th Street N,Calgary,AB,T2H 1L4,CAN
6,-114.987720,53.226980,"Flying J, Cardlock 130 Truck Parking Spots; #...",801-725-1370,5505 Jubilee Ave,Drayton Valley,AB,T7A 1S3,CAN
7,-113.591450,53.572978,"Flying J, Cardlock 130 Truck Parking Spots; #...",708-413-9116,15609 - 121 Ave,Edmonton,AB,T5V 1B1,CAN
8,-113.612020,53.570870,"Flying J, 100 Truck Parking Spots; #0850",780-455-1111,Hwy 2 Exit 366; 16806 118 Ave,Edmonton,AB,T5V 1M8,CAN
9,-116.422030,53.583920,"Flying J, Cardlock 130 Truck Parking Spots; #...",780-723-4744,2520 - 2 Ave,Edson Motco,AB,T7E 1T9,CAN
10,-111.358800,56.695100,"Flying J, Cardlock 130 Truck Parking Spots; #...",780-743-3556,345 Sakitawaw Trail,Fort McMurray,AB,T9H 4E4,CAN
11,-118.821169,55.162867,"Flying J, Cardlock 130 Truck Parking Spots; #...",780-532-2378,9212 - 108 St,Grande Prairie,AB,T8V 4C9,CAN
12,-111.811603,51.618150,"Flying J, 100 Truck Parking Spots; #0846",403-854-5000,Hwy 9 & Hwy 36 South,Hanna,AB,T0J 1P0,CAN
13,-117.586683,53.405000,"Flying J, Cardlock 130 Truck Parking Spots; #...",780-817-1150,294 Kelly Rd,Hinton,AB,T7V 1H2,CAN
14,-112.778748,49.675537,"Flying J, Cardlock 97 Truck Parking Spots; #0821",403-328-4735,1005 43rd St,Lethbridge,AB,T1K 7B8,CAN
15,-110.037000,53.286000,"Flying J, Cardlock 97 Truck Parking Spots; #0822",780-875-2990,Hwy 16 62nd Ave Exit; 5109 63 St Ave,Lloydminster,AB,T9V 2E7,CAN
16,-110.732920,50.055421,"Flying J, 52 Truck Parking Spots; #0868",403-525-0959,Hwy 1 Exit Box Springs Rd; 2194 Saamis Dr NW,Medicine Hat,AB,T1C 1W7,CAN
17,-113.766975,50.341778,"Flying J, RV Dump/Propane; 70 Truck Parking Sp...",403-646-2810,2810 21st Ave,Nanton,AB,T0L 1R0,CAN
18,-113.542631,53.339461,"Flying J, 8 Truck Parking Spots; #0795",780-955-3535,Hwy 2 Exit 525; 302 20th Avenue,Nisku,AB,T9E 7T8,CAN
19,-113.848703,52.287481,"Flying J, RV Dump/Propane; 26 Truck Parking Sp...",403-346-2842,Hwy 11; 6607 67th St,Red Deer,AB,T4P 1A4,CAN

In [7]:
truck_stops.to_csv(os.path.join(r'truck_stops.csv'), index=False, quoting=csv.QUOTE_NONE, escapechar='\\')

In [8]:
truck_stops = pd.read_csv('truck_stops.csv', header=None, names=['Longitude', 'Latitude', 'Truck Stop Name',
                                                                'Truck Stop Info', 'Phone Number','Street Address',
                                                                'City', 'State/Province', 'Postal Code', 'Country'])
truck_stops = truck_stops.drop([0.000000])

truck_stops.head()

,Longitude,Latitude,Truck Stop Name,Truck Stop Info,Phone Number,Street Address,City,State/Province,Postal Code,Country
1,-113.998390,51.292840,Flying J\,Cardlock 10 Truck Parking Spots; #0813,403-948-4193,85 East Lake Cresent,Airdrie,AB,T4B 2B5,CAN
2,-111.867535,50.572799,Flying J\,20 Truck Parking Spots; #0792,403-362-5594,Hwy 1 & CR542; 1260 Cassils Road East,Brooks,AB,T1R 1B7,CAN
3,-114.004910,51.075000,Flying J\,Cardlock 130 Truck Parking Spots; #0814,403-250-3835,Hwy 1 Barlow Trl Exit; 2525 23rd St NE,Calgary,AB,T2E 7M1,CAN
4,-113.974949,50.990041,Flying J\,15 Truck Parking Spots; #0793,403-236-2404,Hwy 2; 4216 72 Ave SE,Calgary,AB,T2C 2C1,CAN
5,-114.004072,51.009581,Flying J\,80 Truck Parking Spots; #0848,403-569-6250,Hwy 2; 4949 Barlow Trail SE,Calgary,AB,T2B 3B5,CAN

In [9]:
# Dump Stations Dataset

dump_stations = pd.read_csv('Raw POI Factory Datasets/Dump_Stations.csv', encoding='ISO-8859-1', header=None)

# Removing columns with null values
dump_stations = dump_stations.drop(columns=[3, 5, 6, 7, 8])

# Adding column header names
dump_stations = dump_stations.rename(columns={0: 'Longitude', 1: 'Latitude', 
                                              2: 'Dump Site Name', 4: 'State/Province'})

print(dump_stations.shape)
dump_stations.head()

(1435, 4)

,Longitude,Latitude,Dump Site Name,State/Province
0,-114.609141,49.630588,Coleman Travel Alberta Visitor Information Centre,AB
1,-113.570425,53.644054,St Albert,AB
2,-114.490795,51.543993,Cremona,AB
3,-115.366680,51.106145,Canmore good Visitor Center,AB
4,-114.783968,55.271408,Slave Lake Canadian Tire,AB

In [10]:
dump_stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1435 entries, 0 to 1434
Data columns (total 4 columns):
Longitude         1435 non-null float64
Latitude          1435 non-null float64
Dump Site Name    1435 non-null object
State/Province    1434 non-null object
dtypes: float64(2), object(2)
memory usage: 45.0+ KB

In [11]:
dump_stations[dump_stations.isna().any(axis=1)]

       Longitude  Latitude Dump Site Name State/Province
1383 -116.619984  51.84209           Lake            NaN

In [12]:
dump_stations = dump_stations.fillna('AB')

dump_stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1435 entries, 0 to 1434
Data columns (total 4 columns):
Longitude         1435 non-null float64
Latitude          1435 non-null float64
Dump Site Name    1435 non-null object
State/Province    1435 non-null object
dtypes: float64(2), object(2)
memory usage: 45.0+ KB

In [13]:
# Writing cleaned dataset to csv
dump_stations.to_csv(os.path.join(r'dump_stations.csv'),index=False)

In [14]:
tourist_attractions = pd.read_csv('Raw POI Factory Datasets/All_States_Offbeat_Tourist_Attractions.csv', encoding='ISO-8859-1', header=None, 
                                  names=['Longitude', 'Latitude', 'Attraction Name', 'Address'])

print(tourist_attractions.shape)
tourist_attractions.head()

(21823, 4)

,Longitude,Latitude,Attraction Name,Address
0,-111.852043,34.564199,0 Mile Post General Crook Trail,"125 E Hollamon St,Camp Verde AZ 86322"
1,-115.112489,36.155276,1 Million In Cash And Worlds Largest Gold Nugg...,"128 E Fremont St,Las Vegas NV 89104,800-237-6537"
2,-115.174634,36.102099,1/3 Scale Statue Of Liberty-empire State Build...,"3790 Blvd S,Las Vegas NV 89109,800-693-6763"
3,-122.662532,44.853749,10 Waterfalls-Walk Behind One,"20024 Silver Falls Hwy Se,Sublimity OR 97385,5..."
4,-119.627036,36.573152,10-Ft California Dancing Raisin At Spike And R...,"2910 Pea Soup Anderson Blvd,Selma CA 93662"

In [15]:
tourist_attractions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21823 entries, 0 to 21822
Data columns (total 4 columns):
Longitude          21823 non-null float64
Latitude           21823 non-null float64
Attraction Name    21823 non-null object
Address            21823 non-null object
dtypes: float64(2), object(2)
memory usage: 682.1+ KB

In [16]:
# Writing cleaned dataset to csv
tourist_attractions.to_csv(os.path.join(r'tourist_attractions.csv'),index=False)

In [17]:
coast2coast = pd.read_csv('Raw POI Factory Datasets/Coast to Coast Campgrounds.csv', header=None, 
                         names=['Longitude', 'Latitude', 'Campsite Name', 
                                'Phone Number', 'Street Address', 'City', 
                                'State/Province', 'Postal Code', 'Country'])
print(coast2coast.shape)
coast2coast.head()

(330, 9)

,Longitude,Latitude,Campsite Name,Phone Number,Street Address,City,State/Province,Postal Code,Country
0,-112.771679,51.471597,Dinosaur Trail RV Resort (GNP),(403) 823-9333,Hwy 838 N,Drumheller,AB,T0J 0Y0,CAN
1,-118.814088,55.105035,Camp Tamarack RV Park (GNP),(780) 532-9998,704063 Range Rd 62,Grand Praire,AB,T8W 5B3,CAN
2,-112.871180,49.711110,Bridgeview RV Resort (Holiday Trails Resort),(403) 381-2357,1501 2nd Ave W,Lethbridge,AB,T1J 4S5,CAN
3,-115.032757,52.442406,Wilderness Village at Crimson Lake,(403) 845-2145,Hwy 756,Rocky Mountain House,AB,T4T 1A9,CAN
4,-117.298700,55.053653,Sherk's RV Park (GNP),(780) 524-4949,22362 Township Rd,Valleyview,AB,T0H 3N0,CAN

In [18]:
coast2coast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 9 columns):
Longitude         330 non-null float64
Latitude          330 non-null float64
Campsite Name     330 non-null object
Phone Number      330 non-null object
Street Address    330 non-null object
City              330 non-null object
State/Province    330 non-null object
Postal Code       330 non-null object
Country           327 non-null object
dtypes: float64(2), object(7)
memory usage: 23.3+ KB

In [19]:
coast2coast[coast2coast.isna().any(axis=1)]

,Longitude,Latitude,Campsite Name,Phone Number,Street Address,City,State/Province,Postal Code,Country
235,-63.673078,46.254270,Jellystone Park PEI (GNP),(844) 734-9644,23714 Trans Canada Hwy,Borden-Carleton,PEI,C0B 1X0,NaN
236,-63.372319,46.484092,Marco Polo Land (GNP),(902) 963-2352,7406 Rte 13,Cavendish,PEI,C0A 1N0,NaN
237,-63.661240,46.560556,Twin Shores Camping Area (GNP),(902) 836-4142,702 Lower Darnley Rd,Darrnley,PEI,C0B 1M0,NaN

In [20]:
coast2coast = coast2coast.fillna('CAN')

coast2coast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 9 columns):
Longitude         330 non-null float64
Latitude          330 non-null float64
Campsite Name     330 non-null object
Phone Number      330 non-null object
Street Address    330 non-null object
City              330 non-null object
State/Province    330 non-null object
Postal Code       330 non-null object
Country           330 non-null object
dtypes: float64(2), object(7)
memory usage: 23.3+ KB

In [21]:
# Writing cleaned dataset to csv
coast2coast.to_csv(os.path.join(r'coast2coast.csv'),index=False)

In [22]:
bridges_usa = pd.read_csv('Raw POI Factory Datasets/Bridges USA.csv', header=None)

bridges_usa = bridges_usa.drop(columns=[3])

bridges_usa = bridges_usa.rename(columns={0: 'Longitude', 1:'Latitude', 2:'Bridge Name'})

print(bridges_usa.shape)
bridges_usa.head()

(6707, 3)

   Longitude   Latitude                Bridge Name
0 -73.681700  42.771700        112th Street Bridge
1 -73.933139  40.819525        145th Street Bridge
2 -73.954511  40.756750  59 St (Queensboro) Bridge
3 -80.084470  26.933700                 706 Bridge
4 -83.145470  41.209800              Abbots Bridge

In [23]:
bridges_usa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6707 entries, 0 to 6706
Data columns (total 3 columns):
Longitude      6707 non-null float64
Latitude       6707 non-null float64
Bridge Name    6707 non-null object
dtypes: float64(2), object(1)
memory usage: 157.3+ KB

In [24]:
# Writing cleaned dataset to csv
bridges_usa.to_csv(os.path.join(r'bridges_usa.csv'),index=False)

In [25]:
road_descents = pd.read_csv('Raw POI Factory Datasets/Descents125.csv', header=None, 
                            names=['Longitude', 'Latitude', 
                            'Descent Description'])

print(road_descents.shape)
road_descents.head()

(125, 3)

   Longitude  Latitude                    Descent Description
0  -75.95856  41.07620  HWY 40013 Mountain Top PA short steep
1  -76.03548  40.98221                 I 81 Nb Hazle PA steep
2  -75.94457  41.17461  I 81 Nb Warrior Run PA 4% for 3 miles
3  -74.62840  41.37424           I 84 Wb Port Jervis NY steep
4  -74.78590  41.34467          I 84 Eb Milford PA long steep

In [26]:
road_descents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
Longitude              125 non-null float64
Latitude               125 non-null float64
Descent Description    125 non-null object
dtypes: float64(2), object(1)
memory usage: 3.1+ KB

In [27]:
# Writing cleaned dataset to csv
road_descents.to_csv(os.path.join(r'road_descents.csv'),index=False)